<label> Item's Name</label>

<!--Input line-->
<input
  type="text"
  class="form-control"
  [(ngModel)]="itemName">
<!--<p>{{ itemName }}</p>-->
<p></p>

<button
  class="btn btn-primary"
  (click)="onCreateItem()">Add Item</button>

<!--Reapeats the same what was tipped in the input line-->
<!--<p>{{ itemCreationStatus }}</p>-->
<!-- Structural Directive ngIf - is shown if the item was created, meaning itemCreated=true-->
<p *ngIf="itemCreated"> Item was created, item's name is {{ itemName }} </p>

<app-item *ngFor="let thing of items"></app-item>

<hr>

<h2>Items List:</h2>
<ul class="itemsList">
  <li *ngFor="let listItem of itemsList"
      [class.selected]="listItem === selectedItem"
      (click)="onSelect(listItem)">
    <span class="badge">{{listItem.id}}</span> {{listItem.name}}
    <input class="check" type="checkbox" [(ngModel)]="listItem.state"/>
  </li>
</ul>
