<label> Item's Name</label>

<input
  type="text"
  class="form-control"
  [(ngModel)]="itemName">
<p></p>

<button class="btn btn-primary" (click)="onAddItem()">Add Item</button>

<hr>

<h2>Items List:</h2>
  <ul class="itemsList">
    <li *ngFor="let item of items" (click)="onSelectItem( item )"
        [class.selected]="item === selectedItem">
      <span class="badge">{{ onGetItemId( item ) }}</span>
      <span class="title">{{ item.name }}</span>
      <span>
      <input class="check" type="checkbox" [(ngModel)]="item.state"/>
      <button class="delete" (click)="onDeleteItem( item )">x</button>
      </span>
    </li>
</ul>
